@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Abel', sans-serif;
  color: #FFFFFF;
  background-color: var(--base-darker-grey, #141518);
  background: url("./assets/BGPattern.png")  ;
  background-size: cover;
  background-color: #141518;
}

nav{
  background: transparent;
}

.section{
  margin-top: 5rem;
}

footer{
  background-color:  rgba(47, 50, 65, 0.50) !important;
}


.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 7rem;
  padding-top: 7rem;
}

.h1-title{
  font-size: 61px;
}

.h1-subtitle{
  font-size: 18px;
  line-height: 27px;
  font-feature-settings: 'clig' off, 'liga' off;
  text-align: center;
}

.h2-title{
  font-size: 49px;
  line-height: 110%;
  text-align: center;
}

.h2-subtitle{
  font-size: 16px;
  line-height: 27px;
  font-feature-settings: 'clig' off, 'liga' off;
  text-align: center;
}


.card-container{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 5rem;
  flex-wrap: wrap;
}

.card{
  padding-top: 32px;
  gap: 1rem;
}

.card svg{
  margin-bottom: 30px;
}

.flex-20{
  flex: 0 0 40%;
}

.flex-50{
  flex: 0 0 50%;
}

.img-last{
  max-width: 830px;
}

.button-action-store{
  background: transparent !important;
  border-radius: 100px !important;
  padding: 16px, 32px, 16px, 32px ;
  border: 1px #FFFFFF ;
}

.reasurance-button{
  padding: 5px;
  border-radius: 12px;
  background: var(--base-dark-transparent, rgba(47, 50, 65, 0.50));
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2rem;


}

.icon-action{
  max-width: 45px;
}

.title-or{
  color :#FFD700;
  font-weight: bold;
}

.media-title{
  padding: 7px 52px;
  background-color: black;
  border-radius: 12px;
  font-family: 'Stint Ultra Condensed', cursive;
  letter-spacing: 4px;
  font-size: 30px !important;
}

.media-description{
  font-family: 'Stint Ultra Condensed', cursive;  
  font-size: 25px !important;
}

.card-media{
  background: var(--Base-Dark-Transparent, rgba(47, 50, 65, 0.50)) !important;
}

.carousel-item{
  flex: 1 !important;
  min-width: 500px ;
}

.bg-colorPrimary{
  background-color: #FFD700  !important;
  color: black !important;
}

.card-trend{
  background: var(--base-dark-transparent, rgba(47, 50, 65, 0.50));
  backdrop-filter: blur(2px);
}

.controls{
  display: none;
}

.img-reasurance{
  width: 100px;
  min-height: 30px;
}


.loader {
  transform: translateZ(1px);
  text-align: center;
  width: 30px;
}
.loader:after {
  content: '$';
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height:70px;
  font-size: 32px;
  font-weight: bold;
  background: #FFD700;
  color: #DAA520;
  border: 4px double ;
  box-sizing: border-box;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
      

/* Small devices (576px and up) */
@media (max-width: 576px) {
  .carousel-item {
    max-width: 300px !important; 
    min-width: inherit;
  }
  #root > div > div.flex.flex-row.items-center.gap-14.flex-wrap.section > div.flex-20{
    display: none;
  }

  .container{
    padding-top: 0 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .nav-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: space-around;
  }

  #root > nav > div{
    justify-content: center;
  }

  .reasurance-first-row{
    gap: 3rem !important;
  }

  .reasurance-section,.card-container{
    flex-wrap: wrap;
  }
}


/* Small devices (576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px !important; 
  }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px !important; 
  }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px !important; 
  }
}

/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important; 
  }
}
